<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


	<!-- Activates scanning of @Repository and @Service and @Component -->
	<!-- Để scan và khởi tạo bean -->
	<!-- Ẩn đi vì không hoạt động -> đã sửa ở file dispatcher-servlet.xml -->
	<!-- Không phải lỗi ở đây -->
	<context:component-scan
		base-package="com.tonduong" />

	<!-- Tao bean de convert sang dto and else -->
	<bean class="org.modelmapper.ModelMapper"></bean>

</beans>